<div class="footer hidden-xs hidden-sm">
<div class="nopadding">
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 footer-padding">
        <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2 footerLogo-main" style="">
            <div class="footerLogo img-responsive">
                <a href="#" class="footer-anchor-tag">
                    <img class="cgLogo" src="/assets/images/Capgemini.svg"  alt="Not Found">
                </a>
            </div>
        </div>
        <div class="col-md-4 col30percent">
            <div>
                <a href="#" class="footer-anchor-tag">
                    <span class="text-left text-bold col30percent-span-one">Connect with Our Team</span>
                </a>
                <a href="#" class="footer-anchor-tag">
                    <span class="text-left text-bold col30percent-span-two">Leadership Team</span>
                </a>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3 col-lg-4 colFollowpercent">
            <div>
                <span class="text-left text-bold colFollowpercent-span-one">Follow us on</span>
                <span class="text-left text-bold ">
                    <a href="https://www.linkedin.com/company-beta/157240/" target="_blank" class="footer-anchor-tag">
                        <img class="colFollowpercent-image" src="/assets/images/linkedin.png">
                    </a>
                </span>
                <span class="text-left text-bold colFollowpercent-image">
                    <a href="https://twitter.com/Capgemini"  target="_blank" class="footer-anchor-tag">
                        <img class="colFollowpercent-image" src="/assets/images/twitter.png">
                    </a>
                </span>
                <span class="text-left text-bold colFollowpercent-image">
                    <a href="https://www.facebook.com/Capgemini/" target="_blank" class="footer-anchor-tag">
                        <img class="colFollowpercent-image" src="/assets/images/facebook.png">
                    </a>
                </span>
            </div>
        </div>
        <div class="colRights">
            <div class="text-right colRights-div-one">
                <div>Capgemini 2017. All rights reserved</div>
            </div>
        </div>
    </div>
    </div>
</div>

<footer class="visible-xs visible-sm footer-xs-sm">

  <div class="container-fluid">

    <div class="col-xs-12 col-sm-12 footer-xs-padding">
    <div class="col-xs-3 col-sm-3">

    </div>

    <div class="col-xs-2 col-sm-2">
          <a href="https://www.linkedin.com/company-beta/157240/" target="_blank"  class="footer-anchor-tag">  <img class="linkedIn-padding-xs img-footer-xs-sm" src="assets/images/linkedin.png"></a>
    </div>

    <div class="col-xs-2 col-sm-2">
      <a href="https://twitter.com/Capgemini" style="kpadding-top: 14px;"  target="_blank"  class="footer-anchor-tag"> <img class=" img-footer-xs-sm" style="margin-top: 5px;" src="assets/images/twitter.png" ></a>
    </div>

    <div class="col-xs-2 col-sm-2">

      <a href="https://www.facebook.com/Capgemini/" target="_blank"   class="footer-anchor-tag">  <img class=" img-footer-xs-sm" src="/assets/images/facebook.png" ></a>

    </div>

    <div class="col-xs-3 col-sm-3">

    </div>

  </div>
    <div class="col-xs-12 col-sm-12">
      <a href="https://www.capgemini.com/" target="_blank" class="footer-anchor-tag">
        <img class="img-responsive img-footer-xs-sm" src="/assets/images/Capgemini.svg"  alt="Not Found">
      </a>
    </div>
    <div class="col-xs-12 col-sm-12 text-center">
        <span>Capgemini 2017. All rights reserved</span>
    </div>

  </div>

</footer>
