<nav class="navbar navbar-default container-fluid navbar-nospacing main-header hidden-xs">
    <div class="container-fluid main-cont">
        <div class="navbar-header">
            <a class="navbar-brand cg-logo" href="#">
                <img alt="logo" class="cglogoleaf-image" src="/assets/images/smartlogo.png" />
            </a>
            <a href="#" class="navbar-brand" style="margin-top: 10px;" >
                <h1 class="main-heading">SAFARI – Smart Advisor For Accident RIsk</h1>
            </a>
        </div>
    </div>
</nav>
<nav class="navbar navbar-inverse visible-xs" style="margin-bottom: 0px;">
  <div class="container-fluid">
    <div class="navbar-header mainheader-xs">
      <div class="col-xs-2 no-padding-right">
        <a class="navbar-brand cg-logo" style="padding: 5px 15px;" href="https://www.capgemini.com/"><img  alt="logo" class="cglogoleaf-image-xs" src="/assets/images/smartlogo.png" /></a>
      </div>
      <div class="col-xs-10 no-padding">

        <a href="#" class="header-title-xs navbar-brand" style="padding: 5px 15px;" >

          <h4 class="sub-heading">SAFARI – Smart Advisor For Accident RIsk</h4>
        </a>
      </div>

    </div>

</div>

</nav>
